/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 /* START OF JQUERY MOBILE OVERIDE */
/* Active button */
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-b .ui-checkbox-on:after,
html .ui-bar-b .ui-checkbox-on:after,
html .ui-body-b .ui-checkbox-on:after,
html body .ui-group-theme-b .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-b:after,
/* Active flipswitch background */
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
    background-color: rgb(237,92,0) !important;
    border-color: rgb(237,92,0) !important;
    text-shadow: 0  1px 0 rgb(255, 153, 0) !important;
}
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 12px #FF9900 !important;
    -moz-box-shadow: 0 0 12px #FF9900 !important;
    box-shadow: 0 0 12px #FF9900 !important;
}
#upload_success_popup, #saved-settings-success{
    background-color: #73BD74 !important;
}
 /* END OF JQUERY MOBILE OVERIDE */
 /* general rules */
div{
    color:white !important;
}
div.title{
    background: url("../img/dainar_logo.png") no-repeat 0 0;
    width: 236px;
    height: 52px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    font: 22px arial, sans-serif;
    text-shadow: 0 0 5px rgb(237,92,0);
    font-weight: bold;
}
h3{
    font: 20px arial, sans-serif;
    text-shadow: 0 0 3px rgb(237,92,0);
}
p{
    font: 18px arial, sans-serif;
    text-shadow: 0 0 2px rgb(237,92,0);
}
.error{
    color: red;
}
.success{
    color: #97EF21;
}
/* app pages background color */
div[data-role="page"]{
    background-color: #1d1d1d;
}
#disk_usage{
    background-color: #A30F0F !important;
}
div.bar{
    background-color: rgb(237,92,0) !important;
}
#disk_usage .bar{
    float:right;
    background-color: #a2a2a2 !important;
}
/* connection status div */
.connection_status{
    float:right;
}
.connection_status h4{
    font-size: 10px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: yellow;
    -webkit-box-shadow: 0 0 12px #DED600;
    -moz-box-shadow: 0 0 12px #DED600;
    box-shadow: 0 0 12px #DED600;
}
.device_connected{
    background-color: #41C232 !important;
    -webkit-box-shadow: 0 0 12px #00DE67 !important;
    -moz-box-shadow: 0 0 12px #00DE67 !important;
    box-shadow: 0 0 12px #00DE67 !important;
}
.bot_bar{
    position: fixed;
    bottom: 0px;
    background-color: rgba(237,92,0,0.8);
    height: 60px;
    width: 100%;
}
 /* navigation page */
}
#filesystem_navigation_list li{
    padding-left: 5px;
    clear:both;
}
#filesystem_navigation_list li h2{
    /*display: inline;*/
    display: block;
    height: 60px;
    width: 70%;
    padding-top: 20px;
    text-shadow: none !important;
}
#filesystem_navigation_list li img{
    float: left;
}
.picked_for_upload{
    background-color: rgb(237,92,0) !important;
    border-color: rgb(237,92,0) !important;
    text-shadow: 0  1px 0 rgb(255, 153, 0) !important;
    -webkit-box-shadow: 0 0 12px #FF9900 !important;
    -moz-box-shadow: 0 0 12px #FF9900 !important;
    box-shadow: 0 0 12px #FF9900 !important;
}
/* play pause and stop page */
div.play_img{
    background: url('../img/play_buttons.png') no-repeat 0 0;
    width: 42px;
    height: 42px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.stop_img{
    background: url('../img/play_buttons.png') no-repeat -52px 0;
    width: 42px;
    height: 42px;
    margin-left: 100px;
    margin-top: 8px;
    float: left;
}

div.pause_img{
    background: url('../img/play_buttons.png') no-repeat 0 -49px;
    width:42px;
    height:42px;
    float: left;
    margin-left: 10px;
}

div.prev_img{
    background: url('../img/previous.png') no-repeat 0 0px;
    width:42px;
    height:42px;
    margin-left: 15px;
    margin-top: 8px;
    float: left;
}

div.next_img{
    background: url('../img/next.png') no-repeat 0 0px;
    width:42px;
    height:42px;
    margin-left: 110px;
    margin-top: 8px;
    float: left;
}

div.delete_file, div.add_button{
    margin-left: 5px;
    float: left;
    width: 7em;
}

div.add_button{
    width: 11em;
}

div.delete_file button, div.add_button a{
    margin-top: 0px;
}

#settingsform{
    width: 5em;
    margin: 0 auto;
}

/* Add playlist form */
div.playlist_listing p{
    text-align: center;
    padding: 5px 0px 5px 0px;
    border: 2px dotted rgb(237,92,0);
    background-color: rgba(237,92,0,0.4);
}

/* Thid Page, Playlist Page */
div.playlist_div h3{
    text-align: center;
    margin: 10px 0px;
    font-weight: bold;
}
div.playlist_div{
    border: 2px solid rgb(237,92,0);
    margin-top: 10px;
}

.playlist_tapped{
    background-color: rgba(237,92,0,0.4);
}

div.delete_pl{
    float: right;
}
div.playlist_song_div{
    clear:both;
}
div.playlist_wrap{
    clear:both;
}
